<div class="container"> 
   <div id="myDIV" class="header">
    <h2>My Task List</h2>
    <form [formGroup]="form" (ngSubmit)="addList()">
    <div>
      <input 
        type="text" placeholder="Create a tasks list..."
        formControlName="newListTitle"
        [(ngModel)]="newList.title">
      <button [disabled]="form.invalid" class="btn-add-task-list">Add Task</button>
    </div>
  </form>
  </div>
  <ul id="myUL">
    <li *ngFor="let list of lists" >
      <div class="view" *ngIf="list.id != listEditing" (click)="goTasks(list.id)">
        <label>{{list.title}}</label>
        <i class="fa fa-trash pull-right" (click)="deleteList(list, $event)"></i>  
        <i class="fa fa-pencil pull-right" (click)="changeToEdit(list, $event)"></i>
      </div>

      <input 
        *ngIf="list.id == listEditing"
        type="text"
        #textList
        (keyup.enter)="editList(textList.value, list, $event)"
        (keyup.escape)="revertEdit()" 
        value={{list.title}}>
    </li>
  </ul>   
  <ng-template #loading_template>
    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </ng-template>
</div>